<div class="home-container">
    <div>
        <div class="header">
            <div class="title-container">
                <div>
                    <img src="../../../assets/icons/user.svg"
                         height="55px">
                </div>
                <div>
                    <h1 id="title">¡Hola {{ user.userName}}!</h1>
                </div>
            </div>
            <div>
                <button routerLink="register-sub">
                    <a href="">
                        <img src="../../../assets/icons/mas.svg"
                             height="25px"
                             style="fill: var(--font-color-pink)">
                    </a>
                </button>
            </div>
        </div>
    </div>
    <app-card></app-card>
    <div>
        <app-subscription-container></app-subscription-container>
    </div>
</div>
