<div class="home-container">
    <div>
        <div class="title-container">
            <div>
                <img src="../../../assets/images/icons/circulo-de-usuario.svg"
                height="55px">
            </div>
            <div>
                <h1>¡Hola Avril!</h1>
            </div>
        </div>
    </div>
    <div>
        <img src="../../../assets/images/shapes/card.png">
    </div>
    <div class="">
        <div class="flex-horizontal">
            <div>
                <h2>Suscripciones</h2>
            </div>
            <div>
                <h6>Ver todas</h6>
            </div>
        </div>
        <div class="scroll-horizontal">
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
            <app-subs-cards></app-subs-cards>
        </div>
    </div>
</div>
