<div class="flex-center">
    <div class="flex-middle">
        <div>
            <img src="../../../assets/icons/user.svg" style="height:55px; width:55px">
        </div>
        <div class="flex-middle">
            <div>
                <h2>Hola</h2>
            </div>
            <div style="">
                <img src="../../../assets/icons/setting.svg" height="35px">
            </div>
        </div>
        <div>

        </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
</div>
