<div class="credit-card">
    <div class="info-container">
        <img style="width: 60px;"
             src="../../../assets/icons/{{ pepe }}.svg">
        <div class="card-info-left">
            <p class="text-card"
               style="font-family: sf-pro-heavy; font-size: 20px">TOTAL</p>
            <p class="text-card">$400</p>
        </div>
    </div>
    <div class="info-container">
        <h2></h2>
        <div class="card-info-right">
            <p class="text-card">**** 7895</p>
            <p class="text-card">06/07</p>
        </div>
    </div>
</div>
