.credit-card {
    width: 100%;
    height: 214px;

    background-image: url("../../../assets/images/shapes/card-with-chip.png");
    background-size: contain;
    background-repeat: no-repeat;

    padding: 35px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
}

.info-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.text-card {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-family: "sf-pro-semibold";
    font-size: 16px;
}

.card-info-left {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-info-right {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
