<div class="flex-horizontal">
    <div>
        <h2>Suscripciones</h2>
    </div>
    <div>
        <h6>Ver todas</h6>
    </div>
</div>
<div class="scroll-horizontal">
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
    <app-subs-cards></app-subs-cards>
</div>
