<div class="main-container img-container">
    <div class="title-logo">
        <h1>SUB</h1>
        <h1>ME</h1>
    </div>
    <div class="container text-container">
        <div class="flex-center">
            <p
                class="title-text font-primary-color"
                style="color: var(--font-color-gray)">todas tus</p>

            <div style="display: flex">
                <p class="title-text"
                   style="color: var(--font-color-pink)">suscripciones</p>
                <p class="title-text"
                   style="margin-left: 8px;
                   color: var(--font-color-gray)">en</p>
            </div>
            <p class="title-text"
               style="color: var(--font-color-gray)"> un solo lugar</p>
        </div>
        <div class="flex-center">
            <button class="button-login"
                    routerLink="login/sign-up">
                <a href="">REGISTRARSE</a>
            </button>
            <div class="container-sign-in">
                <p style="color: var(--font-color-gray)">¿Ya tienes una cuenta?</p>
                <a href=""
                   style="color: var(--font-color-pink)"
                   routerLink="login/sign-in">Inicia sesión</a>
            </div>
        </div>
    </div>

</div>
